@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-size: 62.5%;
  --main-color: #1b58a6;
  --main-color-dark: #154787;
  --skyblue: #86d3e7;
  --white: #fff;
  --bd: #d9d9d9;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
}
hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}
body {
  font: 1.6rem/1.5 'montserrat', 'Pretendard', sans-serif;
  color: var(--title-color);
  word-break: keep-all;

  box-sizing: border-box;

  position: relative;
  color: #000;
  /* height: 100vh; */
  /* padding-top: 100px; */
}
.inner {
  /* width: 176rem; */
  width: 90%;
  margin: 0 auto;
  /* background: rgba(255, 255, 0, 0.3); */
}

/* header {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;

  font-weight: 500;
}
.myName {
  z-index: 10;
  font-family: 'lobster', sans-serif;
  font-size: 3rem;
}
.gnb {
  display: flex;
  margin-right: auto;

  z-index: 10;
  gap: 0.8rem;
}
.gnb > li > a {
  display: block;

  font-size: 1.8rem;
  border: 3px solid transparent;
  padding: 7px 24px;
  border-radius: 60px;

  text-align: center;
}
.gnb > li > a.active {
  border-color: #000;
}
.gnb .contact-btn {
  border-color: transparent;
  background: #000;
  color: #fff;
  transition: 0.4s;
  margin-left: 2rem;
}
.gnb .contact-btn:hover {
  background: var(--main-color-dark);
  color: #fff;
} */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.title-wrap {
  padding-top: 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  font-weight: 500;
}

.myName {
  z-index: 10;
  font-family: 'lobster', sans-serif;
  font-size: 3rem;
}

.gnb {
  display: flex;
  margin-right: auto;
  z-index: 10;
  gap: 0.8rem;
  position: relative;
}

.gnb > li {
  position: relative;
}

.gnb > li > a {
  display: block;
  font-size: 1.8rem;
  padding: 10px 24px;
  border-radius: 60px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.gnb > li > a.active {
  border-color: #000;
}
.gnb > li > a.active:hover {
  /* background: var(--skyblue); */
  background-color: #e3f9ff;
}

.gnb .contact-btn {
  border-color: transparent;
  /* background: #000; */
  color: #fff;
  transition: 0.4s;
  margin-left: 2rem;
}
.gnb > li > a.contact-btn::before {
  content: '';
  display: block;
  height: 45px;
  width: 100%;
  color: #fff;
  /* border: 3px solid #000; */
  background: #000;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  z-index: -1;
  border-radius: 50px;
  transition: 0.4s;
}
.gnb .contact-btn:hover::before {
  background: var(--skyblue);
  transition: 0.4s;
}

.indicator-line {
  position: absolute;
  /* height: 3px;
  height: 110px; */
  border: 3px solid;
  /* background-color: #000; */
  bottom: 0;
  left: 0;

  width: 0;
  transition: width 0.3s, left 0.3s;
  z-index: 0;
  border-radius: 50px;
}

.contact-modal {
  display: none;
  position: fixed; /* 화면 전체에 대한 고정 위치 */
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* width: 100%;
  height: 100%; */
}
.contact-modal .close {
  color: #aaaaaa;
  position: absolute;
  top: 80px;
  right: 70px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.contact-info {
  position: absolute;
  color: #000;
  font-weight: 500;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.contact-info h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  font-weight: 600;
}
.contact-info ul li {
  font-size: 1.8rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.copy-btn {
  /* background: var(--main); */
  /* color: white; */
  border: none;
  background-color: transparent;
  /* padding: 5px 10px; */
  margin-left: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
  background-image: url(../img/copy-black.svg);
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-btn .copy-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../img/copy-black.svg') no-repeat center center;
  background-size: contain;
}

.copy-btn:hover {
  background-color: var(--skyblue);
}
/* .copy-btn:hover.copy-icon {
  background: url('../img/copy.svg') no-repeat center center;
} */

.copy-btn.copied .copy-icon {
  background: url('../img/check-black.svg') no-repeat center center;
  background-size: contain;
}

/* .copy-btn.copied {
  background: #28a745;
} */

.dim {
  display: none;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* ring */
.ring {
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ring i {
  position: absolute;
  inset: 0;
  /* border: 2px solid #fff; */
  /* background: rgba(255, 255, 255, 0.5); */
  background: #e3f9ff;
  opacity: 0.5;
  transition: 0.5s;
}
.ring i:nth-child(1) {
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  animation: animate 14s linear infinite;
}
.ring i:nth-child(2) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate 12s linear infinite;
}
.ring i:nth-child(3) {
  border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
  animation: animate2 18s linear infinite;
}

.ring:hover i {
  border: 1px solid var(--clr);
  filter: drop-shadow(0 0 10px var(--clr));
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
