@charset 'utf-8';
/* 공동정의 */
.sub-title {
  padding: 19rem 0 9rem 0;
}
.sub-title h2 {
  font-weight: 700;
  font-size: 6rem;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.sub-title h2::before {
  content: '';
  width: 10rem;
  height: 10rem;
  background: no-repeat 50% / 80%;
}

.about-title.sub-title h2::before {
  background-image: url(../img/about-title-img.svg);
}
.sub-title.portfolio-title h2::before {
  background-image: url(../img/portfolio-title-img.svg);
}
.sub-title.processes-title h2::before {
  background-image: url(../img/processes-title-img.svg);
}
.sub-title strong {
  margin-top: 2rem;

  font-weight: 400;
  font-size: 5rem;
}
h3 {
  font-weight: 500;
  font-size: 5rem;
}
h3 strong {
  font-weight: 700;
}
h3 strong b {
  display: block;
}

/* portfolio페이지 */
/* s : portfolio-title */
.portfolio {
  padding: 0 0 4.8rem 0;
}

/* e : portfolio-title */

/* s : portfolio-tab */
/* tab-menu */
.tab-menu {
  display: flex;
  gap: 1.4rem;
}

.tab-menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  display: block;
  padding: 1.8rem 3.2rem;
  min-width: 20rem;
  border-radius: 6rem;
  background: var(--bg-light);

  font-size: 2.8rem;
  font-weight: 400;
}

.tab-menu li.on a {
  color: #fff;
  font-weight: 600;
  background: var(--main-color);
}

/* tab-con-wrap*/
.tab-con-wrap {
  margin-top: 4.8rem;
}

/* 모든 탭 공통 아이템 */
/* 팝업 설정 */
.dim {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);

  display: none;
}
.popup {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;

  min-width: 58rem;
  max-width: 102rem;
  max-height: 90vh;
  /* border-radius: 2rem; */

  opacity: 0;
  transition: 0.2s;
  pointer-events: none;

  overflow-y: scroll;
}

.popup.active {
  opacity: 1;
  pointer-events: auto;
}

.gallery-content {
  width: 100%;
}

.gallery-content img {
  width: 100%;
}

/* 이거 그거 거기 제한두기 그 뭐 지 프로세스 */

/* 임시 */
.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.item-graphic,
.item-project {
  position: relative;

  width: 100%;
  height: 100%;
  border-radius: 4rem;
  overflow: hidden;

  transition: 0.4s;
}

.item-project figure,
.item-graphic figure {
  width: 100%;
  height: 100%;
}

.item-project figure img,
.item-graphic figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.con-info {
  /* display: none; */

  position: absolute;
  bottom: -60%; /* 움직임용 */
  left: 0;

  background: #fff;
  width: 100%;
  height: 20.6rem;
  padding: 2.6rem 3.6rem;
  border-radius: 1rem 1rem 0 0;

  transition: 0.4s;
}
.item-project .con-info {
  padding: 2.6rem 6.2rem;
}
.con-info strong {
  font-weight: 700;
  font-size: 2.8rem;
}
.con-info p {
  font-weight: 500;
  font-size: 1.4rem;
}

.con-info .keyword-wrap {
  margin-top: 2rem;

  width: 100%;

  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  row-gap: 0.6rem;
}
.con-info span {
  display: block;
  min-width: 8rem;
  padding: 0.6rem 2.2rem;

  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 6rem;

  text-align: center;
}

.item-project .more-btn:nth-child(1) {
  bottom: 8rem;
}
.more-btn {
  cursor: pointer;
  /* border: 1px solid #000; */

  display: flex;
  align-items: center;
  justify-content: end;

  width: 22.2rem;
  height: 4.8rem;

  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

.more-btn a {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--main-color);

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.8rem;

  width: 100%;
  height: 100%;

  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  transition: 0.4s;
}
.more-btn a::after {
  content: '';
  display: block;

  width: 3.8rem;
  height: 3.8rem;
  background: url(../img/arrow.svg) no-repeat 50%;
}
.more-btn::after {
  content: '';
  display: block;
  width: 3.8rem;
  height: 3.8rem;

  border-radius: 6rem;
  background: var(--main-color);

  transition: 0.4s;
}

/* 호버효과 */
.more-btn:hover a {
  color: #fff;
}
.more-btn:hover::after {
  width: 17.4rem;
}
.more-btn.process-btn:hover::after {
  width: 20rem;
}
.more-btn.design-btn:hover::after {
  width: 20rem;
}
.item-graphic:hover {
  box-shadow: 0px 7px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-project:hover {
  box-shadow: 0px 7px 20px 0 rgba(0, 0, 0, 0.19);
}
.item-graphic:hover .con-info,
.item-project:hover .con-info {
  bottom: 0;
}

/* tab-con-all */
.tab-con-all {
  display: grid;
  grid-template-columns: repeat(3, 38rem);
  grid-template-rows: repeat(6, 41.7rem);
  grid-column-gap: 2rem;
  grid-row-gap: 2.8rem;
}

.item-project.tab-all-item {
  grid-column: span 2;
}

/* tab-con-project */
.tab-con-project {
  display: grid;
  grid-template-columns: 118rem;
  grid-template-rows: repeat(4, 49.4rem);
  grid-row-gap: 2.8rem;
}

/* tab-con-graphic */
.tab-con-graphic {
  display: grid;
  grid-template-columns: repeat(3, 38rem);
  grid-template-rows: repeat(3, 41.7rem);
  grid-column-gap: 2rem;
  grid-row-gap: 2.8rem;
}

/* 탭메뉴 동작에 필요한 부분 */
.tab-con.hide {
  display: none;
}
/* e : portfolio-tab */

/* about페이지 */
/* about페이지, 공통명령 */
.about-keyword {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.2rem;
  row-gap: 3.4rem;
  margin-top: 4rem;
}
.about-keyword span {
  display: block;
  font-size: 2.2rem;
  font-weight: 400;

  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 1rem 3.2rem;
  border-radius: 6rem;
}

/* s: my-info */
.info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.info-wrap::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 439px;
  left: 0;
  display: block;
  width: 100%;
  height: 638px;
  background: #f5f5f5;
}

.info-con1 p {
  font-weight: 600;
  font-size: 3rem;
}
.info-con1 strong {
  font-size: 5rem;
}
.info-con1 strong + p {
  font-size: 2rem;
}

.info-con2 {
  margin-top: 8.2rem;
}
.info-con2 p {
  margin-top: 0.6rem;
  font-weight: 600;
  font-size: 2rem;
}

.info-con3 {
  margin-top: 6.8rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.info-con3 li {
  width: 3rem;
  height: 3rem;
  border-radius: 1rem;
  overflow: hidden;
}
/* 임시 */
.info-con3 li img {
  width: 100%;
  height: 100%;
}

.info-img figure {
  width: 50rem;
  height: 50rem;

  /* 임시 */
  overflow: hidden;
}
/* 임시 */
.info-con3 figure img {
  width: 100%;
  height: 100%;
}
/* e: my-info */

/* s: all-keyword */
.all-keyword {
  padding: 41.2rem 0 16.2rem 0;
}
.all-keyword h3 {
  text-align: center;
}
.all-keyword .about-keyword {
  margin: 0 auto;
  margin-top: 6.8rem;

  width: 152rem;
  justify-content: center;
}

.all-keyword .about-keyword a {
  font-size: 2.8rem;
  font-weight: 400;

  border: 2px solid var(--main-color);
  color: var(--main-color);
  padding: 2rem 3.2rem;
  border-radius: 6rem;

  transition: 0.4s;
}
/* all-keyword영역에서 키워드 호버 시 */
.all-keyword .about-keyword a:hover {
  font-weight: 700;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
  box-shadow: 0px 7px 20px 0 rgba(0, 0, 0, 0.19);
}
/* e: all-keyword */

/* s: my-motto */
#my-motto {
  padding: 16.2rem 0 15.6rem 0;
}
.my-motto-title h3 {
  line-height: 1.3;
}
.my-motto-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#my-motto figure {
  width: 50rem;
  height: 31.8rem;
  border-radius: 4rem;
  overflow: hidden;
}
/* 임시 */
#my-motto figure img {
  width: 100%;
  height: 100%;
}
/* e: my-motto */

/* s: uiux-studies */
#uiux-studies {
  padding: 15.6rem 0 7.5rem 0;
}
#uiux-studies h3 {
  text-align: center;
}
#uiux-studies h3 b {
  display: block;
}
#uiux-studies .about-keyword {
  margin-top: 3.6rem;
  justify-content: center;
}
.uiux-project {
  margin-top: 7.4rem;

  display: flex;
  gap: 2.3rem;
  justify-content: center;
  align-items: center;
}
.uiux-project-con {
  position: relative;
  border-radius: 4rem;
  overflow: hidden;
}
.uiux-project-con figure {
  width: 37.7rem;
  height: 60.6rem;
}
/* 임시 */
.uiux-project-con figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.uiux-project-con .con-info {
  bottom: -60%;
  height: 26rem;
  transition: 0.4s;
  padding: 3.8rem;
}
.uiux-project-con .con-info strong {
  font-size: 3.4rem;
}
.uiux-project-con .con-info .more-btn:nth-child(1) {
  bottom: 8rem;
}
.uiux-project-con:hover .con-info {
  bottom: 0rem;
}
.uiux-project-con:hover {
  box-shadow: 0px 7px 20px 0 rgba(0, 0, 0, 0.19);
}
/* e: uiux-studies */

/* s: team-interviews */
#team-interviews {
  padding: 7.5rem 0 10.8rem 0;
}

#team-interviews .about-keyword {
  margin-top: 1.8rem;
}

.interviews-content {
  margin-top: 4.8rem;

  background: #ffb800;
  width: 100%;
  height: 76.2rem;
  border-radius: 2rem;

  display: flex;
  justify-content: center;
  gap: 10rem;
  /* align-items: center; */

  padding: 3rem;
}
.interviews-text {
  display: flex;
  justify-content: center;
}
.interviews-text b {
  font-size: 3rem;
  display: block;
}
.interviews-text strong {
  margin-top: 18.8rem;

  color: #fff;
  font-weight: 600;
  font-size: 5rem;
  text-align: center;
}
.interviews-slider {
  padding: 20px 0;
  color: #a8a8a8;
}
.swiper-slide-active {
  color: #333;
}
.interviews-slider p {
  font-size: 2rem;
  font-weight: 600;
  display: block;
  width: 300px;
  text-align: center;
}
.interviews-slider .swiper {
  width: 100%;
  height: 100%;
}
.interviews-slider .swiper-slide {
  margin: 0 auto;

  width: 50rem;
  height: 22.6rem;
  border-radius: 2rem;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
/* 활성화된 상태 */
.interviews-slider .swiper-slide.swiper-slide-active {
  width: 60rem;
  height: 28.8rem;
}

/* e: team-interviews */

/* s: passion-for-work */

#passion-for-work {
  margin-top: 7.5rem;
  height: 100vh;
  /* height: 68.6rem; 아래 패딩으로 구현*/
  /* width: 100%; */

  padding: 24.2rem;
  background: var(--main-color);

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#passion-for-work .about-keyword span {
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
}

#passion-for-work .about-keyword {
  display: block;
}

#passion-for-work .about-keyword span {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 300px;
  height: 100px;
  border-radius: 5rem;
  font-size: 4rem;
}

#passion-for-work .about-keyword span:nth-child(1) {
  /* 고민하는 */
  top: 10%;
  right: 8%;
  animation: slide-bl-1 1.4s ease-in-out infinite alternate-reverse both;
}
#passion-for-work .about-keyword span:nth-child(2) {
  /* 열정적 */
  top: 50%;
  right: 10%;
  animation: slide-top 2s ease-in-out infinite alternate both;
}
#passion-for-work .about-keyword span:nth-child(3) {
  /* 도전적 */
  top: 22%;
  left: 4%;
}
#passion-for-work .about-keyword span:nth-child(4) {
  /* 노력하는 */
  top: 40%;
  right: 20%;
  animation-delay: 0.6s;
  animation: slide-right 2s ease-in-out infinite alternate both;
}
#passion-for-work .about-keyword span:nth-child(5) {
  /* 협력하는 */
  top: 70%;
  left: 10%;
  animation: slide-bl-2 2s ease-in-out infinite alternate-reverse both;
}

.slide-top {
  -webkit-animation: slide-top 1.8s ease-in-out infinite alternate both;
  animation: slide-top 2s ease-in-out infinite alternate both;
}
/* animation slide-top */
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes slide-bl-1 {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-20px) translateX(10px);
    transform: translateY(-20px) translateX(10px);
  }
}

@keyframes slide-bl-2 {
  0% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateY(-20px) translateX(10px);
    transform: translateY(20px) translateX(40px);
  }
}

.passion-for-work-con {
  text-align: center;
  /* color: rgb(255, 0, 0); */
}
.passion-for-work-con > div {
  /* font-size: 7rem; */
  font-size: 3.1vw;
  line-height: 1.4;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.4);
}
.passion-for-work-con .text {
  display: inline-block;
  background: linear-gradient(to right, #fff, #fff) no-repeat;
  background-size: 0%;

  -webkit-background-clip: text;
  background-clip: text;
}

/* e: passion-for-work */

/* PROCESSES페이지 */
.processes-img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.processes-img figure img {
  width: 100%;
}
