@charset "utf-8";

@keyframes text-moving {
    0%{
        transform: translate(0,0);
    }
    100%{
        transform: translate(0, 10px);
    }
}

.progress{
    position: relative;
    width: 100%;
    height: 10px;
    background: #FFF7EB;
    position: fixed;
    bottom: 0;
    left: 0;
}

.progress-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: #3E0204;
    transition: 0.4s;
}

#header{
    position: relative;
}

.header-contents{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 277px;
    z-index: 200;
    user-select: none;
    pointer-events: none;
}

.now-page, .gnb{
    user-select: auto;
    pointer-events: all;
}

.now-page .menu-portfolio{
    height: 275px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 70px;
}

.now-page .menu-portfolio::before{
    content: '';
    display: block;
    width: 52px;
    height: 112px;
    margin-bottom: 35px;
    background: url(../images/menu-portfolio.png) 50%/cover no-repeat;
}

.now-page .menu-portfolio::after{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -115px;
    background: url(../images/sub-nowpage-deco.png) 50%/cover no-repeat;
    
}

#header .gnb{
    width: 205px;
    height: 277px;
    margin-right: 225px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.gnb .menu{
    display: block;
    font-family: 'Eulyoo1945-Regular';
    font-size: 20px;
    line-height: 1.25;
}

.gnb .menu-home{
    height: 102px;
    overflow: hidden;
}

.gnb .menu-aboutme{
    height: 95px;
    overflow: hidden;
}

.gnb .menu-process{
    height: 121px;
    overflow: hidden;
}

.gnb .menu:hover{
    overflow: visible;
}

.gnb .menu-home::before{
    content: '';
    display: block;
    width: 44px;
    height: 102px;
    margin-bottom: 10px;
    background: url(../images/home.png) 50%/cover no-repeat;
}

.gnb .menu-aboutme::before{
    content: '';
    display: block;
    width: 44px;
    height: 95px;
    margin-bottom: 10px;
    background: url(../images/menu-aboutme.png) 50%/cover no-repeat;
}

.gnb .menu-process::before{
    content: '';
    display: block;
    width: 39px;
    height: 121px;
    margin-bottom: 10px;
    background: url(../images/menu-process.png) 50%/cover no-repeat;
}

/* #main{
    display: flex;
    width: 420%;
} */

.sub2-contents{
    /* width: 420%; */
    height: 100vh;
    display: flex;
}

.sub2-contents section{
    height: 100vh;
    /* margin-left: -158px; */
}

.btn{
    display: flex;
}

.btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 74px;
    font-size: 24px;
    color: #69380E;
    font-weight: bold;
    border: 1px solid #69380E;
}

.btn a:hover{
    background: #69380E;
    color: #fff;
}

.btn .design{
    margin-right: 35px;
}

#main .doosan{
    position: relative;
    width: 100%;
    /* width: 90%; */
    border-left: 1px solid #69380E;
}

#main .doosan::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1409px;
    height: 100%;
    user-select: none;
    pointer-events: none;
    z-index: -999;
    background: url(../images/sub2-doosan-bg.png) 50%/cover no-repeat;
}

.doosan-contents{
    margin: 0 auto;
    width: 1550px;
    height: 368px;
    /* background: #FFF7EB; */
    /* background: rgb(255,247,236);
    background: linear-gradient(90deg, rgba(255,247,236,1) 0%, rgba(255,247,236,0) 100%); */
    /* background: rgb(255,247,236);
    background: linear-gradient(90deg, rgba(255,247,236,1) 0%, rgba(255,247,236,0.13489145658263302) 73%, rgba(255,247,236,0) 100%); */
    /* background: rgb(255,247,236);
    background: linear-gradient(90deg, rgba(255,247,236,1) 0%, rgba(255,247,236,0.6474964985994398) 70%, rgba(255,247,236,0) 100%); */
    background: rgba(255, 247, 235, 0.8);
}

.doosan-contents .doosan-title{
    padding: 0 100px 0;
    margin: 500px auto 0;
}

.doosan-contents .doosan-text{
    width: 1090px;
    height: 190px;
    padding-top: 50px;
    border-bottom: 1px solid #69380E;
    position: relative;
}

.doosan-contents .doosan-text::after{
    content: '';
    position: absolute;
    width: 321px;
    height: 257px;
    top: 70px;
    right: -270px;
    background: url(../images/sub2-doosan-deco2.png) 50%/cover no-repeat;
}

.doosan-text h3{
    font-family: 'Eulyoo1945-SemiBold';
    font-size: 64px;
}
.doosan-text p{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 900;
    color: #69380E;
}

.doosan figure{
    position: absolute;
    top: 190px;
    left: 750px
}

.doosan .btn{
    margin-top: 40px;
}

#main .nct{
    /* width: 90%; */
    width: 100%;
    position: relative;
    border-left: 1px solid #3E0204;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#main .nct::before{
    content: '';
    position: absolute;
    width: 930px;
    height: 330px;
    top: 35px;
    left: 25px;
    background: url(../images/sub2-nct-deco2.png) 0 0/cover no-repeat;
}

#main .nct::after{
    content: '';
    position: absolute;
    width: 922px;
    height: 493px;
    top: 180px;
    /* right: 200px; */
    right: 0;
    z-index: -999;
    background: url(../images/sub2-nct-deco.png) 0 0/cover no-repeat;
}

.nct .nct-contents{
    width: 1550px;
    height: 368px;
    background: rgba(255, 247, 235, 0.8);
    /* background: #FFF7EB; */
    /* background: rgb(255,247,236);
    background: linear-gradient(0deg, rgba(255,247,236,0) 0%, rgba(255,247,236,0.6502976190476191) 70%, rgba(255,247,236,1) 100%); */
    margin: 0 auto 70px;
}

.nct-contents .nct-text{
    width: 976px;
    height: 242px;
    padding-top: 65px;
    margin: 0 auto;
    /* margin-top: 650px; */
    /* margin-right: 130px; */
    /* margin-left: 230px; */
}

.nct-contents .nct-text h3{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 64px;
}
.nct-contents .nct-text p{
    padding-top: 20px;
    /* text-align: right; */
    display: flex;
    font-size: 24px;
    font-weight: 900;
    color: #69380E;
}

.nct-contents .nct-text p::after{
    content: '';
    width: 522px;
    /* order: -1; */
    margin-top: 13px;
    margin-left: 35px;
    border-top: 1px solid #69380E;
}

.nct-contents .nct-text .btn{
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}

.nct figure{
    position: absolute;
    top: 100px;
    width: 547px;
    height: 507px;
    /* left: 687px; */
    /* left: 35%; */
    left: 50%;
    transform: translateX(-50%);
}

.nct figure img{
    width: 100%;
    height: 100%;
}

#main .cartoon-network{
    /* width: 90%; */
    width: 100%;
    position: relative;
    border-left: 1px solid #69380E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main .cartoon-network::after{
    content: '';
    position: absolute;
    top: 110px;
    left: 0;
    /* right: 158px; */
    width: 1236px;
    height: 826px;
    z-index: -999;
    background: url(../images/sub2-cartoon-bg.png) 50%/cover no-repeat;
}

.cartoon-contents{
    width: 1550px;
    height: 368px;
    margin: 170px auto 0;
    display: flex;
    flex-direction: column;
    background: rgba(255, 247, 235, 0.8);
    /* background: rgb(255,247,236);
    background: linear-gradient(90deg, rgba(255,247,236,1) 0%, rgba(255,247,236,0.6474964985994398) 70%, rgba(255,247,236,0) 100%); */
    position: relative;
}

.cartoon-contents::after{
    content: '';
    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 181px;
    height: 148px;
    background: url(../images/sub2-caartoon-deco.png) 0 0/cover no-repeat;
}

.cartoon-text{
    margin: 0 auto;
    padding-top: 40px;
    width: 1085px;
    height: 295px;
    transition: 0.4s;
}

.cartoon-text h3{
    font-weight: 900;
    font-size: 64px;
    /* animation: text-moving 1s 5s infinite; */
}

.cartoon-text p{
    margin-top: 30px;
    border-bottom: 1px solid #69380E;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 900;
    color: #69380E;
}

.cartoon-text .btn{
    margin-top: 45px;
}

.cartoon-network figure{
    margin-left: auto;
    margin-right: 225px;
    margin-top: -75px;
}

#main .other-design{
    /* width: 70%; */
    width: 100%;
    display: flex;
    border-left: 1px solid #69380E;
}

.other-design .fill-closet{
    width: 1030px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 150px;
    margin-top: 75px;
    position: relative;
}

.other-design .fill-closet::before{
    content: '';
    position: absolute;
    top: 0;
    left: 45px;
    z-index: -999;
    width: 360px;
    height: 866px;
    background: url(../images/sub2-fillcloset-bg.png) 0 0/cover no-repeat;
}

.other-design .fill-closet::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 260px;
    z-index: -999;
    width: 400px;
    height: 433px;
    background: url(../images/sub2-fillcloset-bg2.png) 0 0/cover no-repeat;
}

.fill-closet .fill-closet-text{
    text-align: right;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.fill-closet .fill-closet-text h3{
    font-size: 64px;
    font-weight: 900;
}

.fill-closet .fill-closet-text .small-text{
    display: flex;
    margin-top: 15px;
    color: #69380E;
}

.fill-closet .fill-closet-text .small-text::after{
    content: '';
    display: inline-block;
    border-bottom: 1px solid #69380E;
    width: 185px;
    margin: 0 15px 0 10px;
}

.fill-closet .fill-closet-text .kor{
    font-size: 24px;
    font-family: 'Eulyoo1945-SemiBold';
}
.fill-closet .fill-closet-text .info{
    font-size: 18px;
    font-weight: 900;
    margin: 2px 10px 0 0;
}

.fill-closet-text .btn{
    margin-top: 45px;
}

.fill-closet-text .btn .design{
    margin-right: 35px;
}

.fill-closet figure{
    order: -1;
    margin-right: 95px;
    width: 272px;
    height: 560px;
}

.fill-closet figure img{
    width: 100%;
    height: 100%;
}

.fill-closet span{
    width: 24px;
    font-size: 24px;
    color: #69380E;
    font-family: 'Eulyoo1945-SemiBold';
    line-height: 1.041666666666667;
    position: absolute;
    top: 25px;
    right: 0;
}

.fill-closet span::after{
    content: '';
    position: absolute;
    height: 365px;
    top: 150px;
    right: 10px;
    border-right: 1px solid #69380E;
}

.other-design .other-design-right{
    display: flex;
    flex-direction: column;
    border-left: 1px solid #69380E;
    width: 737px;
}

.frozen{
    width: 737px;
    height: 530px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 100px;
    padding-top: 100px;
    border-bottom: 1px solid #69380E;
    position: relative;
}

.frozen::after{
    content: '';
    position: absolute;
    bottom: 85px;
    left: 19px;
    width: 155px;
    height: 128px;
    background: url(../images/sub2-frozen-deco.png) 0 0/cover no-repeat;
}

.frozen-text{
    text-align: right;
    margin-top: 30px;
}
.frozen-text h3{
    font-size: 36px;
    font-family: 'Eulyoo1945-SemiBold';
}
.frozen-text p{
    font-size: 20px;
    color: #69380E;
    font-weight: bold;
    margin-top: 15px;
}

.frozen-text .btn{
    margin-top: 25px;
}

.frozen figure{
    order: -1;
    margin-right: 120px;
}

.kingdom{
    width: 697px;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-left: 100px;
    position: relative;
}

/* .kingdom::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 695px;
    height: 432px;
    z-index: -999;
    background: url(../images/sub2-kingdom-bg.jpg) 50%/cover no-repeat;
} */

.kingdom-contents{
    display: flex;
}

.kingdom-text{
    height: 163px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-left: 25px;
}

.kingdom-text h3{
    font-size: 36px;
    font-family: 'Eulyoo1945-SemiBold';
}
.kingdom-text p{
    font-size: 20px;
    color: #69380E;
    font-weight: bold;
    margin-top: 15px;
}

.kingdom figure{
    order: -1;
}

.kingdom .btn{
    margin-top: 40px;
}

.kingdom .btn .design{
    margin-right: 25px;
}


#main .view-artwork{
    /* width: 80%; */
    width: 100%;
    height: 100vh;
    border-left: 1px solid #000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view-artwork h3{
    margin-top: 110px;
    font-size: 64px;
    font-weight: bold;
}

#main .artwork-contents{
    margin-top: 50px;
}

.artwork-contents ul{
    width: 1424px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.artwork-bottom{
    display: flex;
    margin-top: 45px;
}

.artwork1{
    width: 346px;
    height: 262px;
    border: 5px solid #3E0204;
}

.artwork2{
    width: 246px;
    height: 262px;
    border: 5px solid #3E0204;
}

.artwork3{
    width: 346px;
    height: 262px;
    border: 5px solid #3E0204;
}

.artwork4{
    width: 351px;
    height: 262px;
    border: 5px solid #3E0204;
}

.artwork5{
    width: 346px;
    height: 262px;
    border: 5px solid #3E0204;
}

.artwork6{
    width: 369px;
    height: 262px;
    margin-left: 45px;
    border: 5px solid #3E0204;
}

.artwork-contents li img{
    width: 100%;
    height: 100%;
}

.view-artwork .btn{
    margin-top: 80px;
}

.artwork-contents ul li{
    transition: 0.4s;
}

.artwork-contents ul li:hover img{
    transform: scale(1.5);
    border: 5px solid #3E0204;
}


/* .artwork-contents {
	width: 40%;
	margin: 40px auto;
}

.artwork-all {
	margin-top: 30px;
}

.artwork-all ul {
	list-style-type: none;
	margin-left: 35px;
}

/* animation */
.artwork-all ul li, .artwork-all li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

.artwork-all ul {
	position: relative;
	width: 1569px;
	height: 614px;
	margin: 5px;
	padding: 5px;
	z-index: 0;
}

/* Make sure z-index is higher on hover */
/* Ensure that hover image overlapped the others */
.artwork-all ul:hover {
	z-index: 5;
}

/* Image is position nicely under li */
.artwork-all ul .artwork1 img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
    width: 376px;
    height: 285px;
    border: 5px solid #3E0204;
	background: #f0f0f0;
}

.artwork-all ul .artwork1 img:hover {
    width: 424px;
    height: 321px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
    transform: scale(1.3);
}

.artwork-all ul .artwork2 img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
    width: 268px;
    height: 285px;
    border: 5px solid #3E0204;
	background: #f0f0f0;
}

.artwork-all ul .artwork2 img:hover {
    width: 302px;
    height: 321px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

.artwork-all ul .artwork3 img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
    width: 376px;
    height: 285px;
    border: 5px solid #3E0204;
	background: #f0f0f0;
}

.artwork-all ul .artwork3 img:hover {
    width: 423px;
    height: 321px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

.artwork-all ul .artwork4 img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
    width: 382px;
    height: 285px;
    border: 5px solid #3E0204;
	background: #f0f0f0;
}

.artwork-all ul .artwork4 img:hover {
    width: 430px;
    height: 321px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

.artwork-all ul .artwork5 img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
    width: 376px;
    height: 285px;
    border: 5px solid #3E0204;
	background: #f0f0f0;
}

.artwork-all ul .artwork5 img:hover {
    width: 423px;
    height: 321px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

.artwork-all ul .artwork6 img {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px;
    width: 402px;
    height: 285px;
    border: 5px solid #3E0204;
	background: #f0f0f0;
}

.artwork-all ul .artwork6 img:hover {
    width: 453px;
    height: 321px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

/* @media only screen and (min-width: 499px) and (max-width: 1212px) {
	.wrapper {
		width: 500px;
	}
}

@media only screen and (max-width: 498px) {
	.artwork-contents {
		width: 300px;
	}

	.artwork-contents figure{
		list-style-type: none;
		margin: 0;
	}
} */