@charset 'utf-8';

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@600;700&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

:root {
  --main-color: #ff9b05;
  --swiper-theme-color: #ff9b05;
}

html {
  font-size: 62.5%;
}

body {
  font: 1rem/1.5 "Pretendard", sans-serif;
  background: url(../img/background.jpg) no-repeat 0 0 / cover;
  overflow: hidden;
  background-attachment: fixed;
}

@keyframes ani {
  to {
    /* clip-path: circle(100%); */
    /* clip-path: ellipse(100% 100% at 50% 50%); */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); */
    clip-path: circle(100% at 50% 50%);
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main-color) !important;
  font-weight: 500;
  transition: 0.3s;
}

hr,
.hidden {
  position: absolute;
  margin: -1px;
  width: -1px;
  height: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

::selection {
  background: var(--main-color);
  color: #fff;
}

img {
  max-width: 100%;
}

#fullpage section {
  position: relative;
  height: 100vh;
}

.cursor {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-10px, -5px);
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--main-color);
  pointer-events: none;
  user-select: none;
  /* transition: 0.2s; */
  z-index: 10001;
}

.cursor.click {
  width: 43px;
  height: 43px;
  background: transparent;
  border: 2px solid var(--main-color);
  transition: 0.2s;
}
/* header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 2.5rem 4rem;
  /* background: #5f5; */
  transition: 0.4s;
}

/* 헤더 숨겼다 보이기 */
#header.hide {
  top: -83px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* visibility: hidden; */
}

.logo a {
  display: block;
  width: 15.9rem;
  height: 2.7rem;
  background: url(../img/LOGO.svg) no-repeat 50%;
}

.gnb {
  display: flex;
}

.gnb li a {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  margin-right: 5rem;
  transition: 0.3s;
}

.gnb li a:hover {
  /* font-weight: 500; */
  transition: 0.3s;
}

.gnb li:nth-child(3) a {
  margin-right: auto;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  pointer-events: none;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.spinner {
  width: 50px;
  height: 50px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--main-color);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
