@charset 'utf-8';

.gnb li:nth-child(2) {
  color: var(--main-color);
  font-weight: 500;
  position: relative;
}

.gnb li:nth-child(2)::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  bottom: -25%;
  left: 30%;
}

/* graphic-------------------- */

.graphic-wrap {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
}

.bg-list::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(237, 129, 105, 0.6); */
  backdrop-filter: blur(6px);
  filter: saturate(0);
}

/* 배경에 들어갈 이미지 */
.bg-list .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat 50% / cover;
}
.bg-list .bg.bg01 {
  background-image: url(../img/graphic01-pic.jpg);
}
.bg-list .bg.bg02 {
  background-image: url(../img/pro-bg-3.jpg);
}
.bg-list .bg.bg03 {
  background-image: url(../img/graphic01-pic.jpg);
}
.bg-list .bg.bg04 {
  background-image: url(../img/pro-bg-3.jpg);
}
.bg-list .bg.bg05 {
  background-image: url(../img/graphic01-pic.jpg);
}
.bg-list .bg.bg06 {
  background-image: url(../img/pro-bg-3.jpg);
}
.bg-list .bg.bg07 {
  background-image: url(../img/graphic01-pic.jpg);
}

/* 배경에 들어갈 컬러 */
.bg-color-list .color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bg-color-list .color.bg-color01 {
  background: rgba(0, 0, 0, 0.6);
}
.bg-color-list .color.bg-color02 {
  background: #6e4f00;
  opacity: 0.5;
}
.bg-color-list .color.bg-color03 {
  background: #919191;
  opacity: 0.5;
}
.bg-color-list .color.bg-color04 {
  background: #b8b46b;
  opacity: 0.5;
}
.bg-color-list .color.bg-color05 {
  background: rgb(179, 0, 0);
  opacity: 0.5;
}
.bg-color-list .color.bg-color06 {
  background: rgba(0, 49, 7, 0.6);
}
.bg-color-list .color.bg-color07 {
  background: rgba(237, 129, 105, 0.6);
}

/* graphic 슬라이더 */
.card-slider {
  padding: 12% 0 9rem;
}

.card-slider .swiper-slide {
  width: 33rem;
  height: 45rem;
  margin: 0 8rem;
  /* border: 1px solid #000; */
  border-radius: 20px;
  overflow: hidden;
  transition: 0.4s;
}

.card-slider .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.card-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 활성화된 슬라이드 */
/* .card-slider .swiper-slide.swiper-slide-active {
  animation: up 1s both;
  transition: 0.8s;
} */

@keyframes up {
  100% {
    transform: translateY(-20%);
  }
}

/* 카드 각도 달라지는 효과 */
.card-slider .swiper-slide:nth-child(even) {
  transform: rotate(5deg);
}
.card-slider .swiper-slide:nth-child(odd) {
  transform: rotate(-5deg);
}
.card-slider .swiper-slide:nth-child(even).on {
  transform: rotate(-5deg);
}
.card-slider .swiper-slide:nth-child(odd).on {
  transform: rotate(5deg);
}

/* 하단 제목 */
.con-list {
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 90rem;
  z-index: 10;
}

.con-list .con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;

  display: none;
}

.con-list .con dt {
  font-weight: 500;
  font-size: 3.3vh;
  font-family: "Ibarra Real Nova", serif;
}

.con-list .con dd {
  font-size: 2.1vh;
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat", sans-serif;
  margin-top: 0.5rem;
}

/* 갤러리 연습버전 ------------------------------------ */

.dim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #030303;
  opacity: 0.7;
  backdrop-filter: blur(2px);
  /* 버튼이 뜬다,,, */
  z-index: 9950;
  display: none;
}

.popup {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(10deg);
  border: 1px solid #fff;
  border-radius: 3px;

  opacity: 0;
  transition: 0.3s cubic-bezier(0, 0.3, 0, 1.17);
  pointer-events: none;
  z-index: 9960;
}
.popup.active {
  opacity: 1;
  top: 50%;
  transform: translate(-50%, -50%) skewY(0deg);
  pointer-events: auto;
  z-index: 9960;
}
.gallery-content {
  overflow-y: auto;
  max-height: 80vh; /* 세로 길이를 윈도우 창의 70%로 제한 */
}

.gallery-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 스크롤바 설정*/
.gallery-content::-webkit-scrollbar {
  width: 6px;
}

/* 스크롤바 막대 설정*/
.gallery-content::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 25px;
}

/* 스크롤바 뒷 배경 설정*/
.gallery-content::-webkit-scrollbar-track {
  background-color: #dddddd;
}

.btn-close {
  position: absolute;
  top: -8%;
  right: 0;
  padding: -10%;
  /* background: rgba(0, 0, 0, 0.4); */
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}
/* 
.btn-next {
  position: fixed;
  width: 20%;
  height: 20%;
  right: 4%;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/next.png) right 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  z-index: 10000;
  cursor: pointer;
}

.btn-prev:hover,
.btn-next:hover {
  filter: alpha(Opacity=100);
  opacity: 1;
}

.btn-prev {
  position: fixed;
  width: 20%;
  height: 20%;
  left: 4%;
  float: left;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/prev.png) left 48% no-repeat;
  filter: alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  z-index: 10000;
} */
