@charset 'utf-8';

/* project-------------------- */

.gnb li:nth-child(1) {
  color: var(--main-color);
  font-weight: 500;
  position: relative;
}

.gnb li:nth-child(1)::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  bottom: -25%;
  left: 30%;
}

.pro-txt {
  /* border: 10px solid #f00; */
  padding: 14rem 0 0 7rem;
}

.pro-title {
  position: absolute;
  top: 13rem;
  left: 6.6rem;
  z-index: 2;
}

.pro-title h2 {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 3.1rem;
  /* background: #f55; */
  margin-left: 0.4rem;
}

.txt02 h2,
.txt03 h2,
.txt04 h2,
.txt05 h2,
.txt06 h2 {
  color: #fff;
}

/* pro-slide strong */
.txt01 strong {
  display: block;
  margin-top: 2.5rem;
}

.txt02 strong {
  font-family: "Ibarra Real Nova", serif;
  display: block;

  font-size: 6.8rem;
  font-weight: 600;
  color: #98e0ff;

  line-height: 110%;
  margin-top: 2rem;
}

.txt03 strong {
  font-weight: 600;
  font-size: 7.5rem;
  color: #d6e384;
}

.txt04 strong {
  font-family: "Ibarra Real Nova", serif;
  display: block;

  font-size: 8rem;
  font-weight: 600;
  color: #f3c968;

  line-height: 110%;
  margin-top: 2rem;
}

.txt05 strong img {
  margin-top: 1.5rem;
}

.txt06 strong img {
  margin-top: 2.7rem;
}

.txt01 .pro-exp {
  position: absolute;
  top: 37rem;
  left: 6.6rem;
  z-index: 99;
}

.txt01 .pro-exp p {
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
  font-size: 2vh;
  color: #000;
  line-height: 195%;
}

.txt02 .pro-exp {
  position: absolute;
  top: 40rem;
  left: 6.6rem;
  z-index: 99;
}

.txt04 .pro-exp {
  position: absolute;
  top: 34rem;
  left: 6.6rem;
  z-index: 99;
}

.txt02 .pro-exp p,
.txt04 .pro-exp p {
  font-family: "Pretendard", sans-serif;
  font-weight: 200;
  font-size: 2vh;
  color: #fff;
  line-height: 195%;
}

.txt04 .pro-exp p {
  opacity: 0.7;
}

.txt03 .pro-exp {
  position: absolute;
  top: 33rem;
  left: 6.6rem;
  z-index: 99;
}

.txt03 .pro-exp p {
  font-family: "Pretendard", sans-serif;
  font-weight: 200;
  font-size: 2vh;
  color: #fff;
  line-height: 195%;
}

.txt05 .pro-exp {
  position: absolute;
  top: 37rem;
  left: 6.6rem;
  z-index: 99;
}

.txt05 .pro-exp p {
  font-family: "Pretendard", sans-serif;
  font-weight: 200;
  font-size: 2vh;
  color: #fff;
  line-height: 195%;
}

.txt06 .pro-exp {
  position: absolute;
  top: 34rem;
  left: 6.6rem;
  z-index: 99;
}

.txt06 .pro-exp p {
  font-family: "Pretendard", sans-serif;
  font-weight: 200;
  font-size: 2vh;
  color: #fff;
  line-height: 195%;
  opacity: 0.8;
}

.pro-info h3 {
  font-weight: 500;
  font-size: 2.1rem;
  font-family: "Montserrat", sans-serif;
}

.pro-info {
  margin-top: 29rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  position: absolute;
  bottom: 9rem;
  left: 7rem;
  z-index: 2;
}
/* pro-slide2,3 info색상 반전 */
.txt02 .pro-info,
.txt03 .pro-info,
.txt04 .pro-info,
.txt05 .pro-info,
.txt06 .pro-info {
  filter: invert(100%);
}

.pro-info .tool {
  display: flex;
  gap: 3.1rem;
  align-items: center;
}

.tool-list {
  display: flex;
  gap: 1rem;
}

.date {
  display: flex;
  align-items: center;
  gap: 3.1rem;
}

.date p {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.pro-link {
  position: absolute;
  bottom: 7rem;
  right: 7rem;
  display: flex;
  gap: 5rem;
  z-index: 2;
}

.pro-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21rem;
  height: 5rem;
  border: 1px solid #fff;
  border-radius: 27px;
  background: rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.7rem;
  color: #fff !important;
  transition: 0.4s;
}

.pro-link a:hover {
  background: rgba(255, 155, 5, 0.9);
  border: 0px;
}

.pro-mid-door {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  z-index: 1;
  /* border: 10px solid #f00; */
}

#midDoor,
#midDoorLine {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* project 부분 배경 마우스 따라 움직이는 효과 */
.projectSlide {
  width: 100%;
  height: 100vh;
}

.swiper-slide .pro {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide .pro .pic {
  position: absolute;
  width: 110%;
  height: 110%;
}

.bg01 .pic {
  background: url(../img/pro-bg-1.jpg) no-repeat 50% / cover;
}
.bg02 .pic {
  background: url(../img/pro-bg-2.jpg) no-repeat 50% / cover;
}
.bg03 .pic {
  background: url(../img/pro-bg-3.jpg) no-repeat 50% / cover;
}
.bg04 .pic {
  background: url(../img/pro-bg-4.jpg) no-repeat 50% / cover;
}
.bg05 .pic {
  background: url(../img/pro-bg-5.jpg) no-repeat 50% / cover;
}
.bg06 .pic {
  background: url(../img/pro-bg-6.jpg) no-repeat 50% / cover;
}

/* 인디케이터 디자인 (색상 변경은 js)*/

.projectSlide .swiper-pagination {
  padding: 0 1%;
}

.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-vertical.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 1vw 0;
}

.projectSlide .swiper-pagination-bullet {
  width: 10px;
  height: 10px;

  transition: 0.4s;
}

/* #projectMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  z-index: 99;
}

#projectMenu li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  margin: 35px 0;
  position: relative;
  transition: 0.4s;
}

#projectMenu li a {
  display: block;
  height: 100%;
}
#projectMenu li a:hover {
  color: inherit;
}
#projectMenu li a b {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  border: 1px solid #afafaf;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 13px;
  border-radius: 30px;
  width: 23rem;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #616161;
} */

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.section.active {
  animation: fadeIn 2s both;
  transition: 0.4s;
} */
