@charset "utf-8";

body.hell {
    overflow: hidden;
    background: #000 !important;
    color: var(--main-color);
}

footer.hell .mode-wrap #mode + label {
    color: #fff;
}

.hell-only h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;

    font-family: "SF_HambakSnow";
    font-size: 40rem;
    line-height: 1;
    text-align: center;
    color: var(--main-color);

    margin-top: -19rem;
    transition: 2s;
}

.hell-only h2.active {
    height: 100vh;
    margin: 0;
    font-size: 50rem;
    color: #fff;
    animation: text-flicker-out-glow 2s linear both;
}

.hell-only h2.thumb {
    font-size: 50rem;
    color: #fff;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
        0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);

    margin-top: 10rem;
    transition: 1s;
}

@-webkit-keyframes text-flicker-out-glow {
    0% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
            0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
            0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
        opacity: 0;
        text-shadow: none;
    }
    14.9% {
        opacity: 0;
        text-shadow: none;
    }
    15% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
            0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
            0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
        opacity: 0;
        text-shadow: none;
    }
    24.9% {
        opacity: 0;
        text-shadow: none;
    }
    25% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
            0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
            0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
        opacity: 0;
        text-shadow: none;
    }
    39.9% {
        opacity: 0;
        text-shadow: none;
    }
    40% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
        opacity: 0;
        text-shadow: none;
    }
    44.9% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 0;
        text-shadow: none;
    }
    69.4% {
        opacity: 0;
        text-shadow: none;
    }
    69.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
        opacity: 0;
        text-shadow: none;
    }
    79.4% {
        opacity: 0;
        text-shadow: none;
    }
    79.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
        opacity: 0;
        text-shadow: none;
    }
    89.8% {
        opacity: 0;
        text-shadow: none;
    }
    89.9% {
        opacity: 1;
        text-shadow: none;
    }
    93% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
}

@keyframes text-flicker-out-glow {
    0% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
            0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    13.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
            0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    14% {
        opacity: 0;
        text-shadow: none;
    }
    14.9% {
        opacity: 0;
        text-shadow: none;
    }
    15% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
            0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    22.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4),
            0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    23% {
        opacity: 0;
        text-shadow: none;
    }
    24.9% {
        opacity: 0;
        text-shadow: none;
    }
    25% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
            0 0 100px rgba(255, 255, 255, 0.1);
    }
    34.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35),
            0 0 100px rgba(255, 255, 255, 0.1);
    }
    35% {
        opacity: 0;
        text-shadow: none;
    }
    39.9% {
        opacity: 0;
        text-shadow: none;
    }
    40% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    42.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    43% {
        opacity: 0;
        text-shadow: none;
    }
    44.9% {
        opacity: 0;
        text-shadow: none;
    }
    45% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    54.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
        opacity: 0;
        text-shadow: none;
    }
    69.4% {
        opacity: 0;
        text-shadow: none;
    }
    69.5% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    69.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    70% {
        opacity: 0;
        text-shadow: none;
    }
    79.4% {
        opacity: 0;
        text-shadow: none;
    }
    79.9% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    80% {
        opacity: 0;
        text-shadow: none;
    }
    89.8% {
        opacity: 0;
        text-shadow: none;
    }
    89.9% {
        opacity: 1;
        text-shadow: none;
    }
    93% {
        opacity: 0;
        text-shadow: none;
    }
    100% {
        opacity: 1;
        text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45),
            0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}

.hell-only .info {
    display: flex;
    height: calc((100vh - 26rem) / 5);
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7rem;
    border-bottom: 2px solid var(--main-color);

    font-weight: 900;
    font-size: 4.8rem;

    cursor: pointer;
}

.hell-only .info.active {
    background: linear-gradient(90deg, rgba(26, 153, 3, 0) 0%, rgba(44, 255, 5, 1) 65%, rgba(204, 255, 0, 1) 100%);
}

.hell-only .info::after {
    content: "";
    display: block;
    width: 7rem;
    height: 7rem;
    background: url(../img/icon-aboutoff.svg) no-repeat 50% 50% / contain;
    transition: 0.3s;
}

.hell-only .info.active::after {
    background-image: url(../img/icon-abouton.svg);
}

/* e: 기본화면 */

.hell-only .popup-list .about {
    position: absolute;
    top: 22rem;
    right: 25rem;

    display: grid;
    width: 55rem;
    padding: 3rem;
    grid-template-rows: 100px 100px 110px 110px 110px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "name name address address"
        "name name birth birth"
        "portrait portrait portrait strength1"
        "portrait portrait portrait strength2"
        "portrait portrait portrait strength3";
    gap: 1.5rem;

    justify-content: center;
    align-content: center;

    background: var(--white50p);
    border: 2px solid #fff;
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur(var(--glass-blur));

    visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.hell-only .popup-list .about > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    font-weight: 700;
    line-height: 1.2;
    color: #000;
}

.hell-only .popup-list .about .name {
    grid-area: name;

    display: flex;
    flex-direction: column;
}

.hell-only .popup-list .about .name p {
    font-size: 2.4rem;
}

.hell-only .popup-list .about .name strong {
    font-size: 6.4rem;
    color: var(--point-color);
}

.hell-only .popup-list .about .address {
    grid-area: address;
    font-size: 3.2rem;
}

.hell-only .popup-list .about .birth {
    grid-area: birth;
    font-size: 3.2rem;
}

.hell-only .popup-list .about .portrait {
    grid-area: portrait;
}

.hell-only .popup-list .about .portrait figure {
    width: 100%;
    height: 100%;
}

.hell-only .popup-list .about .strength1 {
    grid-area: strength1;
    font-size: 2.8rem;
}

.hell-only .popup-list .about .strength2 {
    grid-area: strength2;
    font-size: 2.8rem;
}

.hell-only .popup-list .about .strength3 {
    grid-area: strength3;
    font-size: 2.8rem;
}

/* e: popup-about */

.hell-only .popup-list .education {
    position: absolute;
    bottom: 15rem;
    right: 20rem;

    visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.hell-only .popup-list .education ul {
    display: flex;
    flex-direction: column;
    gap: 7rem;
}

.hell-only .popup-list .education ul li {
    display: flex;
    align-items: start;
    gap: 5rem;

    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.2;
}

.hell-only .popup-list .education ul li strong {
    display: block;
    padding: 1rem;
    background: var(--point-color);

    color: #fff;
}

.hell-only .popup-list .education ul li dl {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    color: #000;
}
.hell-only .popup-list .education ul li dl dt {
    padding: 1rem;
    width: fit-content;
    background: #fff;
}
.hell-only .popup-list .education ul li dl dd {
    display: flex;
    gap: 1rem;
}

.hell-only .popup-list .education ul li dl dd p {
    padding: 1rem;
    background: #fff;
}

/* e: popup-education */

.hell-only .popup-list .experince {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);

    display: flex;
    width: 120rem;
    height: 70rem;

    visibility: hidden;
    user-select: none;
    pointer-events: none;

    /* border: 1px solid red; */
}

.hell-only .popup-list .experince ul li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background: var(--black80p);

    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.2;
    color: #fff;
}

.hell-only .popup-list .experince ul li dl {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hell-only .popup-list .experince ul li dl dt {
    font-weight: 900;
    font-size: 4rem;
}

.hell-only .popup-list .experince ul li:nth-child(1) {
    position: absolute;
    top: 0%;
    left: 37%;
}

.hell-only .popup-list .experince ul li:nth-child(2) {
    position: absolute;
    bottom: 8%;
    right: 3%;
}

.hell-only .popup-list .experince .line1 {
    content: "";

    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%) rotate(55deg);

    display: block;
    width: 75rem;
    height: 10px;
    background: var(--main-color-light);
}

.hell-only .popup-list .experince .dot1 {
    content: "";

    position: absolute;
    top: 4%;
    left: 8.9%;

    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--main-color-light);
}

.hell-only .popup-list .experince .dot2 {
    content: "";

    position: absolute;
    top: 92.5%;
    left: 45%;

    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: var(--main-color-light);
}
.hell-only .popup-list .experince .line2 {
    content: "";

    position: absolute;
    top: 22%;
    left: 17%;

    display: block;
    width: 24rem;
    height: 7px;
    background: var(--main-color-light);
}
.hell-only .popup-list .experince .line3 {
    content: "";

    position: absolute;
    top: 70%;
    left: 36%;

    display: block;
    width: 24rem;
    height: 7px;
    background: var(--main-color-light);
}

/* e: popup-experince */

.hell-only .popup-list .license {
    position: absolute;
    bottom: 5rem;
    right: 15%;

    visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.hell-only .popup-list .license ul {
    display: flex;
    flex-direction: column;
}

.hell-only .popup-list .license ul li {
    display: flex;
    align-items: center;

    width: fit-content;
    height: calc((100vh - 26rem) / 5);
    gap: 5rem;
    color: #fff;
}

.hell-only .popup-list .license ul li:nth-child(4) {
    color: #000;
}

.hell-only .popup-list .license ul li strong {
    font-weight: 700;
    font-size: 3.2rem;
}

.hell-only .popup-list .license ul li p {
    font-weight: 900;
    font-size: 3.6rem;
}

/* e: popup-license */

.hell-only .popup-list .skills {
    position: absolute;
    bottom: 5rem;
    right: 10%;

    display: flex;
    align-items: center;
    height: calc((100vh - 26rem) / 5);
    gap: 2rem;

    visibility: hidden;
    user-select: none;
    pointer-events: none;
}

.hell-only .popup-list .skills img {
    display: block;
    width: 7rem;
    height: 7rem;

    background: no-repeat 50% 50% / cover;
    border-radius: 16px;
    box-shadow: 0 4px 8px var(--black30p);
}

/* e: popup-skills */
/* e: hell */

.heaven-only .sec-list {
    display: flex;
    width: 100%;
    height: 100vh;
    gap: 2rem;
    padding: 14rem 0 7rem;
}

.heaven-only .list1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;

    width: 78.8rem;

    border-right: 3px solid var(--main-color);
}

.heaven-only .list1 .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heaven-only .list1 .name strong {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--point-color);
}

.heaven-only .list1 .name h2 {
    font-family: "SF_HambakSnow";
    font-size: 12.8rem;
    line-height: 1;
    color: var(--main-color);
    -webkit-text-stroke: 2px var(--title-color);
}

.heaven-only .list1 .address {
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: var(--title-color);
}

.heaven-only .list1 figure {
    width: 100%;
    height: 33rem;
    padding: 3rem;
}

.heaven-only .list1 figure img {
    border-radius: 32px;
}

.heaven-only .list1 ul::before {
    content: "";

    position: absolute;
    top: -40%;
    left: 0;

    width: 3rem;
    height: 3rem;
    background: url(../img/deco-softflower.svg) no-repeat 50% 50% / contain;

    animation: spin 5s infinite both;
}

.heaven-only .list1 ul::after {
    content: "";

    position: absolute;
    top: -30%;
    right: 0%;

    width: 62rem;
    height: 3px;
    background: var(--main-color);
}

.heaven-only .list1 ul {
    display: flex;
    justify-content: center;
    gap: 1rem;

    width: 100%;
    margin-top: 5rem;

    position: relative;
}

.heaven-only .list1 ul li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15rem;
    height: 15rem;

    font-family: "SF_Hambaksnow";
    font-weight: 800;
    font-size: 2.8rem;
    color: #fff;
    /* text-shadow: 0 0 4px #000, 0 0 4px var(--black50p); */
    -webkit-text-stroke: 2px #000;
    paint-order: stroke fill;

    background: no-repeat 50% 50% / contain;
}

.heaven-only .list1 ul li:nth-child(1) {
    background-image: url(../img/heaven-str2.svg);
}
.heaven-only .list1 ul li:nth-child(2) {
    background-image: url(../img/heaven-str1.svg);
}
.heaven-only .list1 ul li:nth-child(3) {
    background-image: url(../img/heaven-str3.svg);
}

/* e: list1 */

.heaven-only .list2,
.heaven-only .list3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 5rem;

    width: calc((100% - 78.8rem) / 2);
}

.heaven-only h3 {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    font-weight: 700;
    font-size: 3.2rem;
    color: var(--title-color);
}

.heaven-only h3::before {
    content: "";

    display: block;
    width: 2.4rem;
    height: 2.4rem;

    background: url(../img/icon-star.svg) no-repeat 50% 50% / contain;
}

.heaven-only .list-block {
    display: flex;
    flex-direction: column;
}

.heaven-only .list-block li {
    display: flex;
    justify-content: space-between;
    padding: 1.7rem 3rem;

    border-bottom: 2px solid var(--main-color);
}

.heaven-only .list-block li strong {
    font-weight: 700;
    font-size: 2rem;
    color: var(--main-color-dark);
}

.heaven-only .list-block li dl {
    text-align: end;
}

.heaven-only .list-block li dl dt,
.heaven-only .license .list-block li p {
    font-weight: 700;
    font-size: 2.4rem;
    color: var(--title-color);
}

.heaven-only .list-block li dl dd {
    display: flex;
    justify-content: end;
    gap: 7px;

    color: var(--text-color);
}

.heaven-only .list-block li dl dd p {
    display: flex;
    align-items: center;
    gap: 7px;
}

.heaven-only .list-block li dl dd p::after {
    content: "";

    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;

    background: var(--main-color-dark);
}

.heaven-only .list-block li dl dd p:last-child::after {
    display: none;
}

/* e: list2,3 공통설정 */

.heaven-only section {
    position: relative;
}

.heaven-only .education::before {
    content: "";

    position: absolute;
    top: 50.7%;
    left: 4rem;

    display: block;
    width: 27rem;
    height: 4rem;
    background: url(../img/deco-worm.svg) no-repeat 50% 50% / contain;

    opacity: 0.6;

    animation: spin2 5s infinite both;
}

.heaven-only .education::after {
    content: "";

    position: absolute;
    top: 53.2%;
    left: 60%;

    display: block;
    width: 11rem;
    border-bottom: 8px dotted var(--main-color);

    opacity: 0.5;
}

.heaven-only .experience::before {
    content: "";

    position: absolute;
    top: 52.3%;
    right: 5rem;

    display: block;
    width: 2rem;
    height: 2rem;
    background: url(../img/deco-softflower.svg) no-repeat 50% 50% / contain;

    opacity: 0.9;

    animation: spin 3s infinite both;
}

.heaven-only .license::before {
    content: "";

    position: absolute;
    top: 60%;
    right: 5rem;
    transform: rotate(10deg);

    display: block;
    width: 7rem;
    height: 7rem;
    background: url(../img/deco-softasterisk.svg) no-repeat 50% 50% / contain;

    opacity: 0.7;

    animation: jello-vertical 3s infinite both;
}

.heaven-only .experience .list-block li:last-child {
    border-bottom: none;
}

.heaven-only .list3 {
    border-left: 3px solid var(--main-color);
}

.heaven-only .list3 .license ul li {
    align-items: center;
}

.heaven-only .list3 .skills .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2rem;
}

.heaven-only .list3 .skills .icons img {
    display: block;
    width: 7rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 4px var(--black30p);
    background: orchid;
}

/* e: list 개별설정 */

@keyframes spin {
    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes spin2 {
    20% {
        transform: rotateX(360deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes jello-vertical {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
    10% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    16% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1) rotate(-10deg);
    }
    25% {
        -webkit-transform: scale3d(0.85, 1.15, 1);
        transform: scale3d(0.85, 1.15, 1);
    }
    30% {
        -webkit-transform: scale3d(1.05, 0.95, 1) rotate(10deg);
        transform: scale3d(1.05, 0.95, 1);
    }
    40% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1) rotate(10deg);
    }
    50% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1) rotate(10deg);
    }
}
