@charset "utf-8";
body.hell {
    height: 100vh;
    overflow: hidden;
}

.hell-only .name-marquee {
    position: absolute;
    top: 17%;
    left: -450%;
    z-index: 10000;

    /* display: none; */
}

.hell-only .name-marquee .hee,
.hell-only .name-marquee .joo {
    display: flex;
    width: fit-content;
    height: 19.2708vw;
    align-items: center;
    overflow: hidden;

    font-family: "Roboto Condensed";
    font-weight: 900;
    font-style: italic;
    font-size: 22.3958vw;
    line-height: 0.85;
    letter-spacing: -10px;
    color: var(--main-color);
    background: #000;
}

.hell-only .info-text {
    display: block;
    width: 52rem;

    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.2;
    color: #fff;

    margin-top: 15rem;
    margin-left: 5rem;
}

.hell-only .chrome img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hell-only .portfolio.chrome img {
    filter: drop-shadow(32px -32px 16px var(--black50p));
}

.hell-only .mode.chrome img {
    filter: drop-shadow(-32px 16px 8px var(--black50p));
}

.hell-only .heejoo.chrome img:nth-child(1) {
    filter: drop-shadow(32px -16px 8px var(--black50p));
}

.hell-only .heejoo.chrome img:nth-child(2) {
    filter: drop-shadow(32px 16px 8px var(--black50p));
}

.hell-only .process.chrome img {
    filter: drop-shadow(-32px 32px 8px var(--black50p));
}

.hell-only .wandoo.chrome img {
    filter: drop-shadow(32px -36px 16px var(--black30p));
}

.hell-only .portfolio.chrome {
    position: absolute;
    top: 17%;
    left: 36%;

    width: 80rem;
}

.hell-only .mode.chrome {
    position: absolute;
    bottom: 7%;
    left: 10%;

    width: 15rem;
}

.hell-only .heejoo.chrome {
    position: absolute;
    top: 52%;
    right: 2.5%;

    width: 35rem;

    display: flex;
    flex-direction: column;
    transform: translateY(-50%);
}

.hell-only .process.chrome {
    position: absolute;
    top: 54%;
    left: 32%;

    width: 30rem;
}

.hell-only .process.chrome:hover {
    animation: shake-lr 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-lr {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    10% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    80% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg);
    }
    90% {
        -webkit-transform: rotate(8deg);
        transform: rotate(8deg);
    }
}

.hell-only .wandoo.chrome {
    position: absolute;
    top: 7%;
    left: 68%;

    width: 18rem;
}

/* e: section position 설정 */

.hell-only .popup section {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;

    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 2rem;
    gap: 2rem;

    background: var(--white50p);
    border: 2px solid #fff;
    border-radius: 2.4rem;
    box-shadow: var(--glass-box-shadow);
    backdrop-filter: blur(var(--glass-blur));

    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.hell-only .popup section.active {
    opacity: 1;
    transition: 0.4s;
}

.hell-only .popup h2 {
    width: fit-content;
    padding: 1rem 3rem;
    background: var(--point-color);
    border: 2px solid var(--black70p);
    border-radius: 56px;

    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}

.hell-only .popup .popup-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-weight: 500;
    font-size: 2rem;
}

.hell-only .popup .popup-text dl {
    display: flex;
    align-items: start;
    gap: 2rem;
}

.hell-only .popup .popup-text dl dt,
.hell-only .popup .popup-text dl dd,
.hell-only .popup .popup-text dl .dd-wrap p {
    display: inline;
    padding: 1rem 3rem;
    background: var(--main-color-light);
    border: 2px solid var(--black70p);
    border-radius: 5rem;
}

.hell-only .popup .popup-text dl dt {
    min-width: 15rem;
}

.hell-only .popup .popup-text dl .dd-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 42rem;
    padding: 0;
    background: none;
    border: none;
    gap: 1rem;
}

.hell-only .popup .popup-text dl .dd-wrap p:first-child {
    width: 100%;
}
.hell-only .popup .popup-text dl .dd-wrap p {
    flex-grow: 1;
}

/* e: popup 공통설정*/

.hell-only .popup .portfolio {
    top: 45%;
    left: 40%;
}

.hell-only .popup .mode {
    top: 80%;
    left: 30%;
}

.hell-only .popup .heejoo {
    top: 35%;
    right: 5%;
}

.hell-only .popup .process {
    top: 70%;
    left: 60%;
}

.hell-only .popup .wandoo {
    top: 32%;
    right: 20%;
}

.hell-only .popup .wandoo figure {
    width: 35rem;
    height: 45rem;
}

/* e: popup 개별 위치 설정 */

.hell-only .skill-marquee-wrap::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 25%;
    height: 100vh;

    background: linear-gradient(90deg, rgba(44, 255, 5, 1) 0%, rgba(44, 255, 5, 0) 70%);
}

.hell-only .skill-marquee-wrap::after {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 25%;
    height: 100vh;

    background: linear-gradient(270deg, rgba(44, 255, 5, 1) 0%, rgba(44, 255, 5, 0) 70%);
}

.hell-only .skill-marquee {
    position: absolute;
    top: 125%;
    left: -50%;
    transform: rotate(8deg);
    z-index: -10;

    display: flex;
    white-space: nowrap;
}

.hell-only .skill-marquee p {
    display: inline-block;
    padding: 1rem;
    margin-right: -1px;
    background: #000;

    font-weight: 700;
    font-size: 4.5vw;
    color: #fff;

    animation: marquee 15s linear infinite both;
}

@keyframes marquee {
    100% {
        transform: translateX(-100%);
    }
}

/* e: hell */

.heaven-only .grid-wrap {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 1.5fr;
    grid-template-areas:
        "portfolio heejoo heejoo"
        "portfolio process wandoo"
        "mode process wandoo";

    width: 100%;
    height: 100vh;
    padding: 12rem 0 5rem;
}

.heaven-only .grid-wrap .portfolio {
    grid-area: portfolio;
}

.heaven-only .grid-wrap .mode {
    grid-area: mode;
}

.heaven-only .grid-wrap .heejoo {
    grid-area: heejoo;
}

.heaven-only .grid-wrap .process {
    grid-area: process;
}

.heaven-only .grid-wrap .wandoo {
    grid-area: wandoo;
}

/* e: grid */

.heaven-only .grid-wrap section {
    position: relative;
}

.heaven-only .grid-wrap h2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;

    border: 3px solid var(--main-color);

    font-family: "Roboto Condensed";
    font-weight: 900;
    font-size: 10rem;
    color: var(--title-color);

    box-shadow: inset 4px 4px 4px var(--white20p);
    backdrop-filter: blur(2.5px);

    cursor: pointer;
    transition: 0.8s;
}

.heaven-only .grid-wrap h2:hover {
    color: #000;

    background-color: var(--white50p);
}

/* e: h2 */

.heaven-only .grid-wrap .portfolio {
    overflow: hidden;
}

.heaven-only .grid-wrap .behind {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    background: #fff;

    border: 3px solid var(--main-color);
}

.heaven-only .grid-wrap .behind dl {
    display: flex;
    gap: 1rem;
}

.heaven-only .grid-wrap .behind dl dt {
    width: 20rem;
    font-weight: 700;
    font-size: 4.4rem;
    color: var(--main-color);
    -webkit-text-stroke: 3px var(--title-color);
    paint-order: stroke fill;
}

.heaven-only .grid-wrap .behind dl dd {
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--title-color);

    margin-top: 2rem;
}

/* e: behind 공통설정 */

.heaven-only .grid-wrap .portfolio .behind {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 0 12rem;
}

.heaven-only .grid-wrap .portfolio .behind dl dd {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.heaven-only .grid-wrap .portfolio .behind dl dd p {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.heaven-only .grid-wrap .portfolio .behind dl dd p::before {
    content: "";

    display: block;
    width: 3rem;
    height: 3rem;
    background: no-repeat 50% 50% / contain;

    border-radius: 4px;
    box-shadow: 0 4px 4px var(--black30p);
}

.heaven-only .grid-wrap .portfolio .behind dl dd p:nth-child(1)::before {
    background-image: url(../img/icon-skills-figma.jpg);
}
.heaven-only .grid-wrap .portfolio .behind dl dd p:nth-child(2)::before {
    background-image: url(../img/icon-skills-html.jpg);
}
.heaven-only .grid-wrap .portfolio .behind dl dd p:nth-child(3)::before {
    background-image: url(../img/icon-skills-css.jpg);
}
.heaven-only .grid-wrap .portfolio .behind dl dd p:nth-child(4)::before {
    background-image: url(../img/icon-skills-js.jpg);
}
.heaven-only .grid-wrap .portfolio .behind dl dd p:nth-child(5)::before {
    background-image: url(../img/icon-skills-jquery.jpg);
}
.heaven-only .grid-wrap .portfolio .behind dl dd p:nth-child(6)::before {
    background-image: url(../img/icon-skills-photoshop.jpg);
}
.heaven-only .grid-wrap .portfolio .behind dl dd p:nth-child(7)::before {
    background-image: url(../img/icon-skills-illustrator.jpg);
}

.heaven-only .grid-wrap .mode .behind dl dt {
    width: 24rem;
}

.heaven-only .grid-wrap .mode .behind dl dd {
    font-size: 2.4rem;
    margin-top: 0;
}

.heaven-only .grid-wrap .process .behind a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.heaven-only .grid-wrap .process .behind dl dt {
    width: 30rem;
}

.heaven-only .grid-wrap .process .behind dl dd {
    position: relative;
}

.heaven-only .grid-wrap .process .behind dl dd::before {
    content: "";

    position: absolute;
    bottom: -10%;
    right: -5%;

    display: block;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 0px solid var(--point-color);

    animation: tri-ani 1.5s infinite both;
}

.heaven-only .grid-wrap .process .behind dl dd::after {
    content: "";

    display: block;
    width: 0%;
    height: 3px;

    border-radius: 3px;
    background: var(--point-color);

    animation: line-ani 1.5s infinite both;
}

.heaven-only .grid-wrap .wandoo .behind figure {
    width: 100%;
    height: 100%;
}

@keyframes line-ani {
    80% {
        width: 100%;
    }

    100% {
        width: 100%;
    }
}

@keyframes tri-ani {
    60% {
        border-left: 0;
    }

    80% {
        border-left: 10px solid var(--point-color);
    }

    100% {
        border-left: 10px solid var(--point-color);
    }
}

.heaven-only .grid-wrap .heejoo .behind {
    gap: 5rem;
}

.heaven-only .grid-wrap .heejoo .behind .left dl dt {
    width: 17rem;
}
