@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}

img{vertical-align: top;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font: 24px 'Nunito','NanumSquareRound',sans-serif;
	line-height: 1;
	color: #000;
	overflow-x: hidden;
	cursor: none;
	margin: 0 auto;
	/* display: grid;
	place-items: center; */
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;color: #133984;cursor: none;}

.hidden{ 
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	clip:rect(0 0 0 0); 
}


.main{
	background: radial-gradient(#e7e5ee, #e7e5ee, #e7e5ee);
}





/* 공통  inner, header */
header{
	position: fixed;
	top: 60px;
	left: 50%;
	transform: translateX(-50%);
	width: 1400px;
	height: 70px;
	margin: 0 auto;
	z-index: 100;
}
.top-head{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}
.inner{
    /* width: 1400px; */
	width: 72.9167%;
	height: 100%;
    margin: 0 auto;
}

.gnb{
	margin-left: auto;
}
.gnb ul{
    display: flex;
    color: #00288f;
	font-weight: 600;
}



.gnb ul li{
    margin: 0 30px;
	/* width:30%; */
	/* float:left;  */
	margin-right:10px;
	transition:all .3s ease;
}
.gnb ul li:hover{
	color: #00288f; 
	transition: all .3s ease;
}
.gnb ul li > a{
	position: relative;
}
.gnb ul li > a::after{
	content: '';
	width: 0%;
	/* left: 50%; */
	height: 1px;
	display: block;
	position: absolute;
	/* margin-top: 3px; */
	border-bottom: 3px solid #00288f;
 	transition:all .3s ease;
}
.gnb ul li:hover > a::after{
	content: '';
	width: 100%;
	left: 0px;
	height: 2px;
	display: block;
	position: absolute;
	/* margin-top: 3px; */
	border-bottom: 3px solid #00288f;
	transition:all .3s ease;
}


/* .gnb ul li{
	margin: 0 25px;
	transition: all .3s ease;
}

.gnb ul li > a{
	position: relative;
	padding: 10px 0;
}
.gnb ul li:hover > a::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(-50%);
	width: 100%;
	height: 3px;
	background: #00288f;
	transition: all .3s ease;
} */

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 180px;
	border-top: 1px dashed rgba(0, 40, 143, 0.5);
}

footer p{
	font-weight: 800;
	font-size: 30px;
	color: #00288f;
}

.btn-menu{
    width: 60px;
    height: 60px;
    transition: 0.4s;
    position: absolute;
    top: 68px;
    right: 9%;
	text-indent: -999px;
	overflow: hidden;
	z-index: 1001;
}

.btn.active{
	border: 1px solid #00f;
	position: fixed;
	top: 50px;
	right: 50px;
}

/* 햄버거버튼 애니메이션 */
.btn-menu::before,
.btn-menu::after{
    content: '';
    display: block;
    height: 2px;
    background: #00288f;
    position: absolute;
    right: 5px;
    transition: 0.4s;
}

.btn-menu::before{
	top: 32px;
	width: 40%;
}
.btn-menu::after{
	top: 22px;
	width: 60%;
}



/* 메뉴 버튼 효과 */
.btn-menu.active{
	transform: rotate(-90deg);    
}
.btn-menu.active::before,
.btn-menu.active::after{
	background: #fff;
}



.dim{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none;
	z-index: 900;
}


.menu-bar{
	position: fixed;
	top: 0;
	right: -100%;
	width: 45%;
	height: 100vh;
	background: #00288f;
	z-index: 1000;
	padding: 10%;
	transition: 0.4s;
}

.menu-bar.active{
	right: 0;
}

.menu-bar nav{
    color: #fff;
	font-size: 70px;;
}

.menu-bar nav .menu li{
	margin: 60px 0;
}

.menu-bar nav .menu li:hover .char{
	color: #fff;
	animation: shake-horizontal 3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation-delay: calc(60ms * var(--char-index));
}

/*  */
.gnb ul li{
    margin: 0 30px;
	/* width:30%; */
	/* float:left;  */
	margin-right:10px;
	transition:all .3s ease;
}
.gnb ul li:hover{
	color: #00288f; 
	transition: all .3s ease;
}
.gnb ul li > a{
	position: relative;
}
.gnb ul li > a::after{
	content: '';
	width: 0%;
	/* left: 50%; */
	height: 1px;
	display: block;
	position: absolute;
	/* margin-top: 3px; */
	border-bottom: 3px solid #00288f;
 	transition:all .3s ease;
}
.gnb ul li:hover > a::after{
	content: '';
	width: 100%;
	left: 0px;
	height: 2px;
	display: block;
	position: absolute;
	/* margin-top: 3px; */
	border-bottom: 3px solid #00288f;
	transition:all .3s ease;
}



/* 스크롤바 효과 */
::-webkit-scrollbar{width: 16px;}
::-webkit-scrollbar-track {background-color:#fff;}
::-webkit-scrollbar-thumb {
	background-color:#00288f;
	/* border-radius: 10px; */
}
::-webkit-scrollbar-thumb:hover {background: #002070;}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
width:16px;height:16px;background:#002070;}


/* 프로그레스바 */
.progress-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: #fff;
	z-index: 100;
}
.progress-wrap .progress-bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #00288f;
    transition: 0.4s;
	z-index: 100;
}


/* 마우스 효과 */
.cursor{

    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: url(../images/fork-icon.png) 0 0 no-repeat;
    pointer-events: none;
    user-select: none;
    z-index: 100000;
}

.cursor.click{
    background-position: -33px 0;
}

.spark{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #00288f;
    pointer-events: none;
    transition: 0.4s;
    transform: translate(calc(-50% + 10px), -50%);
    z-index: 1000;
}

.spark.active{
    animation: spark-ani 0.4s 1;
}
@keyframes spark-ani{
    100%{
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}


@keyframes shake-horizontal {
	0%,
	100% {
	  transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70% {
	  transform: translateX(-10px);
	}
	20%,
	40%,
	60% {
	  transform: translateX(10px);
	}
	80% {
	  transform: translateX(8px);
	}
	90% {
	  transform: translateX(-8px);
	}
  }
  