@charset "utf-8";

.logo {
    position: relative;
}

.top-head .obj1{
    font-size: 410px;
    font-weight: 700;
    -webkit-text-stroke: 1px #00288f;
    text-stroke: 1px #00288F;
    -webkit-text-fill-color: transparent;
    transform: rotate(45deg);
    margin: -140px 150px 0;
}

body {
    height: 100vh;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;
}

.visual-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.dish {
    position: absolute;
    top: 50%;
    right: 15%;
    transform: translateY(-50%);
    width: 585px;
    height: 585px;
    background: url(../images/main3.png) 0 0 no-repeat;
    pointer-events: none;
    user-select: none;
}

/* .material {
    position: absolute;
    top: 50%;
    right: 21%;
    transform: translateY(-50%);
    width: 370px;
    height: 370px;
    background: url(../images/pic.png) 0 0 no-repeat;
    pointer-events: none;
    user-select: none;
} */


/* deco-pic */
.material{
    position: relative;
}
.material .deco{
    position: absolute;
    animation: bounce 2s ease infinite;
}
.material .deco.deco-pic1{
    top: 294px; 
    right: 33%;
    animation-delay: 2.5s;
}
.material .deco.deco-pic2{
    top: 340px; 
    right: 27%;
    animation-delay: 1s;
}
.material .deco.deco-pic3{
    top: 333px; 
    right: 24%;
    animation-delay: 1.5s;
}
.material .deco.deco-pic4{
    top: 372px; 
    right: 33%;
    animation-delay: 2s;
}
.material .deco-pic5{
    top: 457px;
    right: 20%;
    animation: pulsate-bck 0.5s 1s ease-in-out infinite both;
}
.material .deco-pic6{
    top: 478px;
    right: 28%;
    animation-delay: 3s;
}
.material .deco-pic7{
    top: 478px;
    right: 33%;
    animation-delay: 2s;
}
.material .deco-pic8{
    top: 500px;
    right: 36%;
    animation: pulsate-bck 0.5s 2s ease-in-out infinite both;
}
.material .deco-pic9{
    top: 595px;
    right: 33%;
    animation-delay: 4.5s;
}
.material .deco-pic10{
    top: 560px;
    right: 26%;
    animation-delay: 2.5s;
}
.material .deco-pic11{
    top: 560px;
    right: 23%;
    animation-delay: 3s;
}
.material .deco-pic12{
    top: 637px;
    right: 27%;
    animation-delay: 3.5s;
}
/* // deco-pic */


.visual-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}


/* h1 {
	height: 100px;
  }
  
  h1 span {
	position: relative;
	top: 20px;
	display: inline-block;
	animation: bounce .3s ease infinite alternate;
	font-family: 'Titan One', cursive;
	font-size: 80px;
	color: #FFF;
	text-shadow: 0 1px 0 #CCC,
				 0 2px 0 #CCC,
				 0 3px 0 #CCC,
				 0 4px 0 #CCC,
				 0 5px 0 #CCC,
				 0 6px 0 transparent,
				 0 7px 0 transparent,
				 0 8px 0 transparent,
				 0 9px 0 transparent,
				 0 10px 10px rgba(0, 0, 0, .4);
  }
  
  h1 span:nth-child(2) { animation-delay: .1s; }
  h1 span:nth-child(3) { animation-delay: .2s; }
  h1 span:nth-child(4) { animation-delay: .3s; }
  h1 span:nth-child(5) { animation-delay: .4s; }
  h1 span:nth-child(6) { animation-delay: .5s; }
  h1 span:nth-child(7) { animation-delay: .6s; }
  h1 span:nth-child(8) { animation-delay: .7s; }
  
  @keyframes bounce {
	100% {
	  top: -20px;
	  text-shadow: 0 1px 0 #CCC,
				   0 2px 0 #CCC,
				   0 3px 0 #CCC,
				   0 4px 0 #CCC,
				   0 5px 0 #CCC,
				   0 6px 0 #CCC,
				   0 7px 0 #CCC,
				   0 8px 0 #CCC,
				   0 9px 0 #CCC,
				   0 50px 25px rgba(0, 0, 0, .2);
	}
  } */



  /* 메인 텍스트 애니메이션 효과 */
/* .visual-text h2{
    height: 130px;
}
.visual-text h2 span{
    position: relative;
	top: 20px;
	display: inline-block;
	animation: bounce .3s ease infinite alternate;
	font-family: 'Nunito', cursive;
	font-size: 70px;
    font-weight: 700;
	color: #00288f;
	text-shadow: 0 1px 0 #fff,
				 0 2px 0 #fff,
				 0 3px 0 #fff,
				 0 4px 0 #fff,
				 0 5px 0 #fff,
				 0 6px 0 transparent,
				 0 7px 0 transparent,
				 0 8px 0 transparent,
				 0 9px 0 transparent,
				 0 10px 10px rgba(172, 172, 172, 0.404);
}
.visual-text h2 span:nth-child(2){ animation-delay: .1s; }
.visual-text h2 span:nth-child(3){ animation-delay: .2s; }
.visual-text h2 span:nth-child(4){ animation-delay: .3s; }
.visual-text h2 span:nth-child(5){ 
    margin-left: 15px;
    animation-delay: .6s; }
.visual-text h2 span:nth-child(6){ animation-delay: .5s; }
.visual-text h2 span:nth-child(7){ animation-delay: .6s; }
.visual-text h2 span:nth-child(8){ 
    margin-left: 15px;
    animation-delay: .8s; }
.visual-text h2 span:nth-child(9){ animation-delay: .8s; }
.visual-text h2 span:nth-child(10){ animation-delay: .9s; }
.visual-text h2 span:nth-child(11){ animation-delay: .10s; }
.visual-text h2 span:nth-child(12){ animation-delay: .11s; }
@keyframes bounce {
	100% {
	  top: -20px;
	  text-shadow: 0 1px 0 #CCC,
				   0 2px 0 #CCC,
				   0 3px 0 #CCC,
				   0 4px 0 #CCC,
				   0 5px 0 #CCC,
				   0 6px 0 #CCC,
				   0 7px 0 #CCC,
				   0 8px 0 #CCC,
				   0 9px 0 #CCC,
				   0 50px 25px rgba(0, 0, 0, .2);
	}

} */
  /* // 메인 텍스트 애니메이션 효과 */



.visual-text h2 {
    font-weight: 700;
    font-size: 100px;
    color: #00288f;
    position: relative;
    text-transform: uppercase;
}
.visual-text h2 .char{
    /* animation: roll-in-top 3.5s ease-out both; */
    animation: roll-in-top 1.5s both;
    animation-delay: calc(60ms * var(--char-index));
}
.visual-text h2 .front {
    position: absolute;
    top: -7px;
}

.visual-text h2 .back {
    -webkit-text-stroke: 1px #00288f;
    text-stroke: 1px #00288F;
    -webkit-text-fill-color: transparent;
}

.visual-text h3 {
    font-size: 40px;
    font-weight: bold;
    color: #00288f;
}

.visual-text h3::before {
    content: ': ';
}

.visual-text a {
    font-weight: 600;
    font-size: 30px;
    color: #00288f;
    margin-top: 83px;
    position: relative;
    display: flex;
    align-items: center;
    width: 320px;
}

.visual-text a::after {
    content: '';
    width: 60px;
    height: 60px;
    border: 1px solid #00288f;
    border-radius: 60px;
    margin-left: 30px;
    border-radius: 60px;
    margin-left: 55px;
    position: relative;
}

.visual-text a::before {
    content: '';
    width: 61px;
    height: 16px;
    background: url(../images/Arrow.png) 0 0 no-repeat;
    position: absolute;
    transition: 0.4s;
    left: 67%;

}

.visual-text a:hover::before {
    left: 83%;
}

footer .obj2{
    position: absolute;
    top: 10%;
    left: 30%;
    font-weight: 700;
    font-size: 300px;
    -webkit-text-stroke: 1px #00288f;
    text-stroke: 1px #00288F;
    -webkit-text-fill-color: transparent;
    transform: rotate(340deg);
    text-transform: uppercase;
    left: 5%;
}
footer p {
    position: relative;
    margin-top: 50px;
}

footer .inner .obj3{
    font-weight: 700;
    font-size: 300px;
    -webkit-text-stroke: 1px #00288f;
    text-stroke: 1px #00288F;
    -webkit-text-fill-color: transparent;
    transform: rotate(325deg);
    /* margin-left: 100%; */
    margin: -3% 90%;
    text-transform: uppercase;
}


@keyframes bounce-in-top {
    0% {
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        transform: translateY(0);
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        transform: translateY(-65px);
        animation-timing-function: ease-in;
    }

    72% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    81% {
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }

    90% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    95% {
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
}

@keyframes roll-in-top {
    0% {
      -webkit-transform: translateY(-600px) rotate(-540deg);
              transform: translateY(-600px) rotate(-540deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0) rotate(0deg);
              transform: translateY(0) rotate(0deg);
      opacity: 1;
    }
  }

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
}


@keyframes pulsate-bck {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }