@charset 'utf-8';

.gnb li:nth-child(3) {
  color: var(--main-color);
  font-weight: 500;
  position: relative;
}

.gnb li:nth-child(3)::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: var(--main-color);
  position: absolute;
  bottom: -25%;
  left: 50%;
}
/* about 인디케이터 디자인 */
#aboutMenu {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 2%;
  z-index: 99;
}

#aboutMenu li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15);
  margin: 35px 0;
  position: relative;
  transition: 0.4s;
}

#aboutMenu li a {
  display: block;
  height: 100%;
}
#aboutMenu li a:hover {
  color: inherit;
}
#aboutMenu li a b {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
  border: 1px solid #afafaf;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 13px;
  border-radius: 30px;
  width: 13rem;
  z-index: -1;
  opacity: 0;
  transition: 0.4s;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #616161;
}

#aboutMenu li:nth-child(2) a b {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
}
#aboutMenu li.active {
  background: #000;
}
#aboutMenu li:hover a b {
  opacity: 1;
  right: -10px;
}

/* .swiper-wrapper {
  height: 100vh;
  margin: 0 auto;
} */

/* about 슬라이드 페이지네이션 디자인 */

.aboutSlide .swiper-pagination {
  bottom: 3%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.5);
}
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  bottom: 3.5%;
  top: auto;
  width: 1.2rem;
  height: 1.8rem;

  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 2rem;
}

.swiper-button-next {
  right: 48%;
}
.swiper-button-prev {
  left: 48%;
}

/* slide */
html,
body {
  position: relative;
  height: 100%;
}

.section .swiper {
  width: 100%;
  height: 100%;
}

.mid-txt {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 2%;
  width: 57.291666%;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.mid-element .mid-txt > img {
  /* position: absolute;
  top: 35%;
  left: 25%; */
  /* margin-right: 30%; */
  visibility: hidden;
}

.mid-element .mid-txt p {
  /* position: absolute;
  bottom: 45%;
  right: 27%; */
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 2%;
  visibility: hidden;
}

.mid-element .mid-txt b {
  background: var(--main-color);
  color: #fff !important;
}

.scroll-txt {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.3);
  animation: blinkTxt 2s infinite;
  transition: 0.4s;
  visibility: hidden;
}

/* about2 */

.sym .txt-wrap,
.challenge .txt-wrap {
  margin: 9% 0 0 -5%;
}

.breath .txt-wrap {
  margin: 8% 0 0 0;
}

.aboutSlide .swiper-slide {
  width: 154rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* background: #ff5; */
}

.keyword {
  display: flex;
  align-items: end;
  gap: 1.3rem;
}

.keyword strong {
  display: block;
  font-weight: 500;
  font-size: 2.5rem;
}

.content {
  margin-top: 8.8rem;
}

.content h3 {
  font-weight: 700;
  font-size: 3.2vh;
  color: var(--main-color);
}

.content p {
  font-weight: 300;
  font-size: 2vh;
  /* width: 90rem; */
  line-height: 2;
}

.content p + p {
  display: block;
  margin-top: 3rem;
}

.exp-wrap {
  margin-top: 4.9rem;
}

.swiper-slide.sym,
.swiper-slide.challenge {
  display: flex;
  gap: 4%;
}

.swiper-slide.breath {
  gap: 7%;
}

.swiper-slide.breath {
  flex-direction: row-reverse;
}

.image01 {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: url(../img/about-exp-pic01.jpg) no-repeat 50% / cover;
  margin-top: 12%;
}

.arrow {
  width: 17.3em;
  height: 17.3rem;
  background: url(../img/arrow.svg) no-repeat 50% / cover;
  position: absolute;
  bottom: 8%;
  right: 8%;
  animation: arrow 2s infinite both;
  transition: 0.4s;
  cursor: pointer;
}

.Down {
  width: 17.3em;
  height: 17.3rem;
  background: url(../img/arrow-down.svg) no-repeat 50% / cover;
  position: absolute;
  bottom: 15%;
  right: 8%;
  animation: arrowDown 2s infinite both;
  transition: 0.4s;
  cursor: pointer;
}

@keyframes arrow {
  0% {
    transform: translateX(40px);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
    transition: 0.4s;
  }

  100% {
    transform: translateX(40px);
    animation-timing-function: ease-out;
  }
}

@keyframes arrowDown {
  0% {
    transform: translateY(40px);
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
    transition: 0.4s;
  }

  100% {
    transform: translateY(40px);
    animation-timing-function: ease-out;
  }
}

.image02 {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: url(../img/about-exp-pic02.jpg) no-repeat 50% / cover;
  margin-top: 11%;
  filter: grayscale(0.2);
}

.image03 {
  height: 30%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  background: url(../img/about-exp-pic03.jpg) no-repeat 50% / cover;
  position: absolute;
  bottom: 20%;
  left: 6%;
}

.image04 {
  height: 50%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: url(../img/about-exp-pic04.jpg) no-repeat 50% / cover;
  margin-top: 12%;
}

.hashtag {
  margin-top: 8rem;
  display: flex;
  gap: 1.7rem;
}

.hashtag p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.8rem;
  height: 4.1rem;
  border: 1px solid #555555;
  border-radius: 20px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #555555;
}

/* .swiper-slide.breath {
  display: flex;
  flex-direction: row-reverse;
} */

/* .big-one {
  position: absolute;
  top: 19.7rem;
  left: 25rem;
}

.small-one {
  position: absolute;
  bottom: 20rem;
  left: 19.9rem;
} */

/* about 3 */

.my-photo {
  height: 45%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #000;
  /* background: url(../img/KakaoTalk_20240102_010843986.jpg) no-repeat 50% / cover; */
}

.me {
  position: absolute;
  bottom: 17%;
  left: 12%;
  background: url(../img/me2.jpg) no-repeat 50% / cover;
  height: 57%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  filter: saturate(0.8);
}

.contact-con {
  display: flex;
  gap: 16rem;
  /* margin-top: 20.8rem; */
  padding: 13% 0 0 0;
  width: 1600px;
  height: 1700px;
  margin: 0 auto;
}

.contact-txt {
  margin-top: 3.2rem;
}

.epi h2 {
  opacity: 0;
  font-family: "Montserrat", sans-serif;
  width: 73.3rem;
  font-weight: 300;
  font-size: 8.3vh;
}
.epi h2.active {
  animation: contact 0.6s both;
}

@keyframes contact {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.my-info {
  margin-top: 9rem;
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.my-info .info {
  display: flex;
}

.my-info .info.name {
  gap: 6.8rem;
}
.my-info .info.birth {
  gap: 8.3rem;
}
.my-info .info.e-mail {
  gap: 6.3rem;
}
.my-info .info.phone {
  gap: 6.1rem;
}

.my-info dl dt {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.my-info dl dd {
  font-weight: 300;
}

@keyframes blinkTxt {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
