@charset 'utf-8';

nav {
  visibility: hidden;
}

/* side-text */
.side-text {
  /* background: #f5f; */
  display: block;
  position: absolute;
  top: 26%;
  right: -5.5rem;
  transform: rotate(90deg);
}

.side-text > p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 5rem;
  visibility: hidden;
}

.side-text p + p {
  font-family: "Montserrat", sans-serif;
  font-size: 2.8rem;
  font-weight: 300;
  visibility: hidden;
  margin-left: 1%;
}

/* bottom-text */
.bottom-text {
  /* background: #ff5; */
  position: absolute;
  left: 5%;
  bottom: 8%;
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  row-gap: 1.2rem;
}

.harmony img {
  visibility: hidden;
}

.exp {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2.2rem;
  visibility: hidden;
}

.exp p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}

.bottom-text strong {
  font-size: 2.6rem;
  font-weight: 400;
}

/* main-visual */
.main-visual .line-right {
  position: absolute;
  right: 0;
  bottom: 30%;
  width: 64.5313%;
  height: auto;
  will-change: transform;
}

.main-visual .line-left {
  position: absolute;
  left: 0;
  bottom: 10%;
  z-index: 5;
  width: 60.520833%;
  height: auto;
  will-change: transform;
}

.main-visual .main-circle {
  position: absolute;
  z-index: 3;
  left: 35%;
  top: 19%;
  width: 29%;
  clip-path: circle(50% at 50% 50%);
  aspect-ratio: 1/1;
  will-change: transform;
}

.main-circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101%;
  height: 101%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inset 5px 5px 30px 5px rgba(255, 255, 255, 0.9);

  /* filter: saturate(0); */
}

.shape-video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 도형에 꽉 차도록 비디오 크기 조절 */
  /* border-radius: inherit; */
}

#lineLeft {
  stroke: color #444;
}

.go-pro-btn a {
  width: 21rem;
  height: 5rem;
  border-radius: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  margin: 3.1rem 1rem;
  position: absolute;
  bottom: 4%;
  right: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  color: #000;
  transition: 0.4s;
  visibility: hidden;
}

.go-pro-btn a:hover {
  border: 1px solid var(--main-color);
  transition: 0.4s;
  color: #fff !important;
  background: rgba(255, 155, 5, 0.9);
  border: 0px;
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
