@charset 'utf-8';

#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0px 0px; /* 버튼의 내부 여백 (크기를 키우는 데 가장 효과적) */
    font-size: 45px; /* 텍스트 크기 */
    background-color: #b8fb00;
    color: white;
    border-radius: 50px; /* 둥근 모서리 */

    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 70px; /* 버튼의 고정 너비 */
    height: 70px; /* 버튼의 고정 높이 */
    text-align: center;
    opacity: 0; /* 초기에는 보이지 않게 설정 */
    pointer-events: none; /* 버튼을 클릭할 수 없게 만듦 (보이지 않을 때는 클릭할 수 없게) */
    transition: opacity 1s ease-in-out; /* 1초 동안 부드럽게 나타나도록 */
}
